* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* PAGE BACKGROUND */
.login-page {
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(rgba(3,25,45,0.8), rgba(16, 58, 97, 0.8)),
    url("background.png");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGIN BOX */
.login-box {
  width: 380px;
  padding: 40px 35px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  text-align: center;
  color: #fff;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* LOGO */
.login-logo {
  width: 200px;
  margin-bottom: 20px;
  height : auto;
}

/* TEXT */
.login-box h2 {
  font-size: 26px;
  margin-bottom: 6px;
}

.login-box p {
  font-size: 14px;
  opacity: 0.85;
  margin-bottom: 30px;
}
.welcome-text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 35px; /* adjust: 30–40px looks great */
}
.login-box h2, .login-box p {
  margin-top: 0;}

/* INPUTS */
.login-box input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* BUTTON */
.login-box button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #22e0c5;
  color: #022;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #1cc0aa;
}

.login-box button:active {
  transform: scale(0.97);
}

/* EXTRA LINKS */
.extras {
  margin-top: 20px;
  font-size: 13px;
}

.extras a {
  color: #22e0c5;
  text-decoration: none;
}

.extras span {
  margin: 0 6px;
  opacity: 0.6;
}
